body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

/* Heading */

.big-heading {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.cta-heading {
  font-weight: 900;
  line-height: 1.5;
  font-size: 3.5rem;
}

/* Container-paddings */

.container-fluid {
  padding: 7% 15%;
}

/* Section-Backgrounds */

.colored-section {
  background-color: #ff4c68;
  color: white;
}

.white-section {
  background-color: white;
}

/* title-section */

#title {
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-weight: 400;
  font-size: 1.2rem;
}

/* Download Buttuons*/

.download-button {
  margin: 5% 3% 5% 0;
}

/* title-img */

.title-img {
  width: 60%;
  transform: rotate(25deg);
  margin-left: 100px;
  overflow-y: hidden;
  position: absolute;
  right: 30%;
}

/* Features-section */

#features {
  position: relative;
}

.feature-box {
  padding: 5%;
}

.feature-title {
  line-height: 1.5;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* testimonials-section */

#testimonials {
  background-color: #ef8172;
}

.testimonial-img {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* Press-section */

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 15px;
}

/* pricing-section */

#pricing {
  padding: 100px;
}

.pricing-col {
  padding: 3% 2%;
}

.pricing-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* The mobile responsive layout */

@media (max-width: 1028px) {
  .title-img {
    position: static;
    transform: rotate(0deg);
    margin: 0 auto;
  }

  #title {
    text-align: center;
  }
}

/* footer */

.fasb {
  margin: 20px 10px;
}

/* Z-index only work if the elements are already positioned (i.e. position:static) */

/* ID over-rides class styles */

/* id > class > element -- priority order */

/* use ID's very very sparingly */
